## Python Strings

#### Multiline Strings
* We can assign a multiline string to a variable by using three quotes.

In [5]:
a = """ First Lile
 Second Line
 Third Line """

In [6]:
print(a)

 First Lile
 Second Line
 Third Line

In [7]:
a = ''' First Lile
 Second Line
 Third Line '''

In [8]:
print(a)

 First Lile
 Second Line
 Third Line

#### Looping Through a String

In [10]:
fruit = "Mango"

for x in fruit:
    print(x)

M
a
n
g
o

#### Check String

In [12]:
x = "Hello World"
print("World" in x)

True

#### Slicing
* We can return a range of characters by using the slice syntax.

In [14]:
x = "Hello World"
print(x[0:5])

Hello

In [15]:
print(x[:5])

Hello

In [16]:
print(x[6:])

World

In [19]:
print(x[-5:-1])

Worl

#### Remove Whitespace

In [22]:
x = " Hello World "
print(x.strip())

Hello World

#### Replace String

In [25]:
x = "Hello World"
print(x.replace("H","U"))
print(x)

Uello World
Hello World

#### Split String

In [28]:
a = "Hello World"
print(a.split(" "))

['Hello', 'World']

#### String Concatenation

In [29]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

#### String Format

In [34]:
name="Utpal"
print("My Name is :", name)

My Name is : Utpal

In [41]:
print("My Name is :", name, sep='')

My Name is :Utpal

In [45]:
print(f"My Name is : {name}")

My Name is : Utpal

In [47]:
name = "Utpal"
userInfo = "My Name is : {}".format(name)
print(userInfo)

My Name is : Utpal

In [52]:
name = "Utpal"
country = "Bangladesh"
myData = "I am {0} and I am from {1}".format(name,country)
print(myData)

I am Utpal and I am from Bangladesh

In [53]:
name = "Utpal"
country = "Bangladesh"
myData = "I am {name} and I am from {country}".format(name=name,country=country)
print(myData)

I am Utpal and I am from Bangladesh

#### Escape Character

In [54]:
text = 'It\'s a beautyful bird'
print(text)

It's a beautyful bird

#### Boolean Operations

In [255]:
True * False

0

In [256]:
True * True

1

In [257]:
False * False

0

In [258]:
not False * False

True

#### String Methods

**capitalize()** : Converts the first character to upper case

In [62]:
x = "hello WORLD"
x.capitalize()

'Hello world'

In [72]:
x = "36 West Kafrul"
x.capitalize()

'36 west kafrul'

**casefold()** : Converts string into lower case

In [74]:
x = "Rampura, West Kafrul"
x.casefold()

'rampura, west kafrul'

**center()** : Returns a centered string

In [90]:
x = "Mango"
x.center(11,"*")

'***Mango***'

**count()** : Returns the number of times a specified value occurs in a string

In [63]:
x = "Hello World"
x.count("o")

2

In [95]:
x = "Hello World"
x.count("o",4,8)

2

**encode()** : Returns an encoded version of the string

In [97]:
txt = "My name is Ståle"
txt.encode()

b'My name is St\xc3\xa5le'

In [99]:
txt = "My name is Ståle"
txt.encode(encoding='ascii', errors='replace')

b'My name is St?le'

**endswith()** : Returns true if the string ends with the specified value

In [101]:
x = "Hello World"
x.endswith("d")

True

In [106]:
x = "Hello World"
x.endswith("o",1,5)

True

**expandtabs()** : Sets the tab size of the string

In [111]:
x = "H\tE\tL\tL\tO"
print(x.expandtabs(1))
print(x.expandtabs(2))
print(x.expandtabs(3))
print(x.expandtabs(4))
print(x.expandtabs(5))
print(x.expandtabs(6))
print(x.expandtabs(7))
print(x.expandtabs(8))

# Default Tab Size is 8
print(x.expandtabs())

H E L L O
H E L L O
H  E  L  L  O
H   E   L   L   O
H    E    L    L    O
H     E     L     L     O
H      E      L      L      O
H       E       L       L       O
H       E       L       L       O

**format()** : Formats specified values in a string

In [254]:
x = "My name is {}".format("Utpal")
print(x)

My name is Utpal

**find()** : Searches the string for a specified value and returns the position of where it was found

In [119]:
x = "Hello World"
x.find("llo",2,10)

2

**index()** : Searches the string for a specified value and returns the position of where it was found

In [120]:
x = "Hello World"
x.index("o")

4

**isalnum()** : Returns True if all characters in the string are alphanumeric

In [121]:
x = "Hello World 123"
x.isalnum()

False

In [126]:
x = "123 56"
x.isalnum()

False

In [127]:
x = "123"
x.isalnum()

True

In [125]:
x = "Hello"
x.isalnum()

True

**isalpha()** : Returns True if all characters in the string are in the alphabet

In [132]:
x = "Hello"
x.isalpha()

True

In [134]:
x = "Hello World"
x.isalpha()

False

In [135]:
x = "Hello123"
x.isalpha()

False

In [136]:
x = "123"
x.isalpha()

False

**isdecimal()** : Returns True if all characters in the string are decimals

In [140]:
x = "20"
x.isdecimal()

True

**isdigit()** : Returns True if all characters in the string are digits

In [143]:
x = "20.12"
x.isdigit()

False

In [145]:
x = "Hello"
x.isdigit()

False

**isidentifier()** : Returns True if the string is an identifier

In [146]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

**islower()** : Returns True if all characters in the string are lower case

In [150]:
a = "Hello world!"
b = "hello! 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

**isnumeric()** : Returns True if all characters in the string are numeric

In [153]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"
f = "20"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())
print(f.isnumeric())

True
True
False
False
False
True

**isprintable()** : Returns True if all characters in the string are printable

In [160]:
x = "Hello #@\~ World"
print(x.isprintable())

True

In [161]:
x = "Hello \n World"
print(x.isprintable())

False

**isspace()** : Returns True if all characters in the string are whitespaces

In [162]:
x = "    "
print(x.isspace())

True

In [163]:
x = "  s  "
print(x.isspace())

False

**istitle()** : Returns True if the string follows the rules of a title

In [167]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"
e = "Hello world"
f = "Hello World"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())
print(e.istitle())
print(f.istitle())

False
True
True
True
False
True

**isupper()** : Returns True if all characters in the string are upper case

In [168]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

**join()** : Joins the elements of an iterable to the end of the string

In [173]:
x = " # "
x.join(["Apple", "Mango", "Jackfruit"])

'Apple # Mango # Jackfruit'

In [177]:
x = " # "
x.join({"name":"Utpal Paul", "email":"utpalseu@gmail.com"})

'name # email'

**ljust()** : Returns a left justified version of the string

In [180]:
x = "Mango"
x.ljust(10,"*")

'Mango*****'

**lower()** : Converts a string into lower case

In [65]:
x = "HELLO WORLD"
x.lower()

'hello world'

**lstrip()** : Returns a left trim version of the string

In [181]:
x = "     Mango    "
x.lstrip()

'Mango    '

In [185]:
x = "****Mango    "
x.lstrip("*")

'Mango    '

**maketrans()** : Returns a translation table to be used in translations

In [252]:
text = "Hello World"
x = "HW"
y = "UI"

z = str.maketrans(x,y)
text.translate(z)

'Uello Iorld'

In [253]:
text = "Hello World"
x = "HW"
y = "UI"
z = "lo"

myTrans = str.maketrans(x,y,z)
print(myTrans)

print(text.translate(myTrans))

{72: 85, 87: 73, 108: None, 111: None}
Ue Ird

**partition()** : Returns a tuple where the string is parted into three parts

The **partition()** method searches for a specified string, and splits the string into a tuple containing three elements.

* The first element contains the part before the specified string.
* The second element contains the specified string.
* The third element contains the part after the string.

In [249]:
x = "I like mango, but this mango is sour. Please plant another mango tree."
x.partition("mango")

('I like ',
 'mango',
 ', but this mango is sour. Please plant another mango tree.')

In [250]:
x = "I like mango, but this mango is sour. Please plant another mango tree."
x.partition("banana")

('I like mango, but this mango is sour. Please plant another mango tree.',
 '',
 '')

**replace()** : Returns a string where a specified value is replaced with a specified value

In [189]:
x = "Hello World"
x.replace("o","U")

'HellU WUrld'

In [190]:
x = "Hello World"
x.replace("o","U",1)

'HellU World'

**rfind()** : Searches the string for a specified value and returns the last position of where it was found

In [191]:
x = "Hello World"
x.rfind("o")

7

In [192]:
x = "Hello World"
x.rfind("o",1,5)

4

**rindex()** : Searches the string for a specified value and returns the last position of where it was found

In [193]:
x = "Hello World"
x.rindex("o")

7

In [198]:
x = "Hello World"
x.rindex("o",1,5)

4

**rjust()** : Returns a right justified version of the string

In [204]:
x = "Hello"
x.rjust(10, "*")

'*****Hello'

In [203]:
x = "Hello"
x.ljust(10, "*")

'Hello*****'

**rpartition()** : Returns a tuple where the string is parted into three parts

The **rpartition()** method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.
* The first element contains the part before the specified string.
* The second element contains the specified string.
* The third element contains the part after the string.

In [248]:
x = "I like mango, but this mango is sour. Please plant another mango tree."
x.partition("mango")

('I like ',
 'mango',
 ', but this mango is sour. Please plant another mango tree.')

In [205]:
x = "I like mango, but this mango is sour. Please plant another mango tree."
x.rpartition("mango")

('I like mango, but this mango is sour. Please plant another ',
 'mango',
 ' tree.')

In [206]:
x = "I like mango, but this mango is sour. Please plant another mango tree."
x.rpartition("banana")

('',
 '',
 'I like mango, but this mango is sour. Please plant another mango tree.')

**rsplit()** : Splits the string at the specified separator, and returns a list

In [207]:
x = "Welcome to all in our new campus"
x.split(" ")

['Welcome', 'to', 'all', 'in', 'our', 'new', 'campus']

In [210]:
x = "Welcome to all in our new campus"
x.split(" ",1)

['Welcome', 'to all in our new campus']

In [208]:
x = "Welcome to all in our new campus"
x.rsplit(" ")

['Welcome', 'to', 'all', 'in', 'our', 'new', 'campus']

In [211]:
x = "Welcome to all in our new campus"
x.rsplit(" ",1)

['Welcome to all in our new', 'campus']

**splitlines()** : Splits the string at line breaks and returns a list

In [217]:
x = "Hello \nWorld"
x.splitlines()

['Hello ', 'World']

In [216]:
x = """ Line 01
    Line 02
    Line 03"""
x.splitlines()

[' Line 01', '    Line 02', '    Line 03']

**startswith()** : Returns true if the string starts with the specified value

In [222]:
x = "Hello World"
x.startswith("H")

True

In [224]:
x = "Hello World"
x.startswith("ello",1,5)

True

**strip()** : Returns a trimmed version of the string

In [70]:
x = " Hello World  "
x.strip()

'Hello World'

**rstrip()** : Returns a right trim version of the string

In [71]:
x = "  Hello world   "
x.rstrip()

'  Hello world'

**swapcase()** : Swaps cases, lower case becomes upper case and vice versa

In [66]:
x = "Hello WoRlD"
x.swapcase()

'hELLO wOrLd'

**title()** : Converts the first character of each word to upper case

In [68]:
x = "Hello WORLD"
x.title()

'Hello World'

In [247]:
txt = "hello b2b2b2 and 3g3g3g"
txt.title()

'Hello B2B2B2 And 3G3G3G'

**translate()** : Returns a translated string

In [237]:
text = "Hello, Welcome to all"
x= "HW"
y = "UI"

myTrans = str.maketrans(x,y)
# print(myTrans)

text.translate(myTrans)

'Uello, Ielcome to all'

In [243]:
text = "Hello, Welcome to all"
x= "HW"
y = "UI"
z = "lo"

myTrans = str.maketrans(x,y,z)
print(myTrans)

text.translate(myTrans)

{72: 85, 87: 73, 108: None, 111: None}

'Ue, Iecme t a'

In [242]:
txt = "Hel"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(mytable)
print(txt.translate(mytable))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
Hel

**upper()** : Converts a string into upper case

In [69]:
x = "hello World"
x.upper()

'HELLO WORLD'

**zfill()** : Fills the string with a specified number of 0 values at the beginning

In [233]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(a.rjust(10,"0"))

print(b.zfill(10))

print(c.zfill(10))
print(c.rjust(10,"0"))

00000hello
00000hello
welcome to the jungle
000010.000
000010.000