## **Lambda / Anonymous Function**

In [2]:
x = lambda x: x+10
print(x(5))

15

In [4]:
x = lambda x,y: x*y
print(x(10,5))

50

In [43]:
max_of_two = lambda x,y: x if x>y else y
max_of_two(10,20)

20

#### Function inside another function

In [12]:
def myFunc(n):
    return lambda a: a*n

myDoubler = myFunc(2)
myTripler = myFunc(3)

print(myDoubler(10))
print(myTripler(10))

20
30

## **Map Function**

In [46]:
def multiply_num(num):
    return num**2

list01 = [10,20,30,40,50]

list02 = list(map(multiply_num, list01))
print(list02)

[100, 400, 900, 1600, 2500]

In [41]:
fruit01 = ["Mango", "Apple", "Banana"]
fruit02 = ["Orange", "Pineaple", "Jackfruit"]

result = list(map((lambda x,y: x+"-"+y), fruit01, fruit02))
result

['Mango-Orange', 'Apple-Pineaple', 'Banana-Jackfruit']

In [48]:
list01 = [1,2,3,4,5]
list02 = [6,7,8,9,10]

result = list(map((lambda x,y: x+y), list01, list02))
print(result)

[7, 9, 11, 13, 15]

In [51]:
name = "utpal"

name_list = list(map((lambda x: x.upper()), name))
print(name_list)

['U', 'T', 'P', 'A', 'L']

## **Filter Function**

In [21]:
list01 = [1,2,3,4,5,6,7,8,9,10]

list02 = list(filter((lambda x: not x%2), list01))
print(list02)

[2, 4, 6, 8, 10]

In [25]:
def myFunction(num):
    if num%2 == 0:
        return True
    else:
        return False
list02 = list(filter(myFunction, list01))
list02

[2, 4, 6, 8, 10]

In [62]:
list01=[1,2,3,4,5,6,7]

result = list(filter((lambda x: x%2==0), list01))
print(result)

[2, 4, 6]

In [64]:
fruits = ["Apple", "Banana", "Pineapple"]

result = list(filter((lambda x: len(x)>5), fruits))
print(result)

['Banana', 'Pineapple']

## **Reduce Function**

In [33]:
import functools
list01 = [1,2,3]

list02 = functools.reduce((lambda x,y: x+y), list01)
print(list02)

6

In [42]:
list01 = [10,60,20,40,30,10,20]

result = functools.reduce((lambda x,y: x if x>y else y),list01)
result

60

In [59]:
from functools import reduce
list01 = [1,2,3,4,5,6,7,8]
result = reduce((lambda x,y: x/y), [5])
print(result)

5