## Naive Bayes Implementation

In [1]:
import pandas as pd

In [2]:
# Load Dataset
from sklearn.datasets import load_iris

In [3]:
import seaborn as sns
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['species']=encoder.fit_transform(df['species'])

In [5]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width  species
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [7]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [128]:
# X,y = load_iris(return_X_y=True)

In [14]:
type(y)

pandas.core.series.Series

In [9]:
# Train, Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=0, shuffle=True)

In [10]:
# Make the model
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [11]:
y_pred = gnb.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print(accuracy_score(y_test, y_pred))

1.0

In [8]:
print(confusion_matrix(y_test, y_pred))

[[16  0  0]
 [ 0 18  0]
 [ 0  0 11]]

In [9]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       1.00      1.00      1.00        18
           2       1.00      1.00      1.00        11

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

In [10]:
import seaborn as sns

In [15]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
df.shape

(244, 7)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [14]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [15]:
print(df['sex'].value_counts())

Male      157
Female     87
Name: sex, dtype: int64

In [16]:
print(df['smoker'].value_counts())

No     151
Yes     93
Name: smoker, dtype: int64

In [17]:
print(df['day'].value_counts())

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [18]:
print(df['time'].value_counts())

Dinner    176
Lunch      68
Name: time, dtype: int64

In [19]:
# One Hot Encoding
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

In [20]:
encoded_sex = encoder.fit_transform(df[['sex']]).toarray()
encoded_sex_df = pd.DataFrame(encoded_sex, columns=encoder.get_feature_names_out())
encoded_sex_df.head()

   sex_Female  sex_Male
0         1.0       0.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         1.0       0.0

In [21]:
encoded_smoker = encoder.fit_transform(df[['smoker']]).toarray()
encoded_smoker_df = pd.DataFrame(encoded_smoker, columns=encoder.get_feature_names_out())
encoded_smoker_df.head()

   smoker_No  smoker_Yes
0        1.0         0.0
1        1.0         0.0
2        1.0         0.0
3        1.0         0.0
4        1.0         0.0

In [22]:
encoded_day = encoder.fit_transform(df[['day']]).toarray()
encoded_day_df = pd.DataFrame(encoded_day, columns=encoder.get_feature_names_out())
encoded_day_df.head()

   day_Fri  day_Sat  day_Sun  day_Thur
0      0.0      0.0      1.0       0.0
1      0.0      0.0      1.0       0.0
2      0.0      0.0      1.0       0.0
3      0.0      0.0      1.0       0.0
4      0.0      0.0      1.0       0.0

In [23]:
encoded_time = encoder.fit_transform(df[['time']]).toarray()
encoded_time_df = pd.DataFrame(encoded_time, columns=encoder.get_feature_names_out())
encoded_time_df.head()

   time_Dinner  time_Lunch
0          1.0         0.0
1          1.0         0.0
2          1.0         0.0
3          1.0         0.0
4          1.0         0.0

In [24]:
df = pd.concat([df, encoded_sex_df, encoded_smoker_df, encoded_day_df, encoded_time_df], axis=1)

In [25]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,16.99,1.01,Female,No,Sun,Dinner,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,10.34,1.66,Male,No,Sun,Dinner,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,21.01,3.50,Male,No,Sun,Dinner,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,23.68,3.31,Male,No,Sun,Dinner,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,24.59,3.61,Female,No,Sun,Dinner,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [16]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [17]:
df['sex_encoded'] = encoder.fit_transform(df['sex'])
df['smoker_encoded'] = encoder.fit_transform(df['smoker'])
df['day_encoded'] = encoder.fit_transform(df['day'])
df['time_encoded'] = encoder.fit_transform(df['time'])

In [18]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,sex_encoded,smoker_encoded,day_encoded,time_encoded
0,16.99,1.01,Female,No,Sun,Dinner,2,0,0,2,0
1,10.34,1.66,Male,No,Sun,Dinner,3,1,0,2,0
2,21.01,3.50,Male,No,Sun,Dinner,3,1,0,2,0
3,23.68,3.31,Male,No,Sun,Dinner,2,1,0,2,0
4,24.59,3.61,Female,No,Sun,Dinner,4,0,0,2,0

In [29]:
df_copy = df[['sex_encoded', 'day_encoded', 'time_encoded', 'size', 'tip', 'total_bill', 'smoker_encoded']]
df_copy.head()

,sex_encoded,day_encoded,time_encoded,size,tip,total_bill,smoker_encoded
0,0,2,0,2,1.01,16.99,0
1,1,2,0,3,1.66,10.34,0
2,1,2,0,3,3.50,21.01,0
3,1,2,0,2,3.31,23.68,0
4,0,2,0,4,3.61,24.59,0

In [30]:
df_copy['smoker_encoded'].value_counts()

0    151
1     93
Name: smoker_encoded, dtype: int64

In [41]:
X = df[['sex_encoded', 'day_encoded', 'time_encoded', 'size', 'tip', 'total_bill']]
y = df['smoker_encoded']

In [42]:
y

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    1
241    1
242    0
243    0
Name: smoker_encoded, Length: 244, dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_bill      244 non-null    float64
 1   tip             244 non-null    float64
 2   sex             244 non-null    category
 3   smoker          244 non-null    category
 4   day             244 non-null    category
 5   time            244 non-null    category
 6   size            244 non-null    int64
 7   sex_encoded     244 non-null    int64
 8   smoker_encoded  244 non-null    int64
 9   day_encoded     244 non-null    int64
 10  time_encoded    244 non-null    int64
dtypes: category(4), float64(2), int64(5)
memory usage: 15.0 KB

In [119]:
y.head()

0    16.99
1    10.34
2    21.01
3    23.68
4    24.59
Name: total_bill, dtype: float64

In [51]:
# Train, Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42,shuffle=True)

In [52]:
type(y_train)

pandas.core.series.Series

In [53]:
X_train

     sex_encoded  day_encoded  time_encoded  size   tip  total_bill
115            0            2             0     2  3.50       17.31
181            1            2             0     2  5.65       23.33
225            0            0             1     2  2.50       16.27
68             1            1             0     2  2.01       20.23
104            0            1             0     2  4.08       20.92
..           ...          ...           ...   ...   ...         ...
106            1            1             0     2  4.06       20.49
14             0            2             0     2  3.02       14.83
92             0            0             0     2  1.00        5.75
179            1            2             0     2  3.55       34.63
102            0            1             0     3  2.50       44.30

[183 rows x 6 columns]

In [54]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [55]:
gnb.fit(X_train, y_train)

GaussianNB()

In [56]:
y_pred = gnb.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.6885245901639344