## Assignment On MySql

**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

A database is a structured collection of data that is organized in a way that allows it to be easily accessed, managed, and updated. Databases are used in a wide variety of applications, including websites, mobile apps, financial systems, healthcare systems, and many others.

SQL and NoSQL are two different types of databases. SQL (Structured Query Language) databases are relational databases that use tables to store and organize data. Data is typically organized into columns and rows, and tables can be linked together using primary keys and foreign keys to establish relationships between different tables. SQL databases use SQL to manage and manipulate data, and they are widely used in many different industries.

NoSQL databases, on the other hand, are non-relational databases that store data in a variety of different ways, such as document-oriented, key-value, or graph databases. NoSQL databases are designed to be highly scalable and flexible, and they can handle large amounts of unstructured or semi-structured data more easily than SQL databases. NoSQL databases use different query languages and data models depending on the type of database.

The choice between SQL and NoSQL databases depends on the specific needs of the application. SQL databases are good for applications that require a lot of structured data and require complex queries, while NoSQL databases are good for applications that need to handle large amounts of unstructured or semi-structured data, and require high scalability and flexibility.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

DDL stands for Data Definition Language. It is a set of SQL statements that are used to define, modify, and delete database objects such as tables, views, indexes, and constraints.

Here are some examples of how the DDL statements CREATE, DROP, ALTER, and TRUNCATE are used:

**CREATE:** The CREATE statement is used to create new database objects such as tables, views, and indexes. For example, to create a new table named "customers" with columns for customer ID, name, and email, the following SQL statement could be used:

In [ ]:
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100)
);

**DROP:** The DROP statement is used to remove existing database objects. For example, to remove the "customers" table created in the previous example, the following SQL statement could be used:

In [ ]:
DROP TABLE customers;

**ALTER:** The ALTER statement is used to modify existing database objects. For example, to add a new column named "phone" to the "customers" table, the following SQL statement could be used:

In [ ]:
ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

**TRUNCATE:** The TRUNCATE statement is used to delete all data from an existing table while keeping its structure intact. For example, to delete all data from the "customers" table without deleting the table itself, the following SQL statement could be used:

In [ ]:
TRUNCATE TABLE customers;

Overall, DDL statements are used to define, modify, and delete database objects, allowing developers and administrators to manage the structure and contents of a database.

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

DML stands for Data Manipulation Language. It is a set of SQL statements that are used to manipulate the data stored in a database.

Here are some examples of how the DML statements INSERT, UPDATE, and DELETE are used:

**INSERT:** The INSERT statement is used to add new data to a table. For example, to add a new customer to the "customers" table created in the previous example, the following SQL statement could be used:

In [ ]:
INSERT INTO customers (customer_id, name, email, phone)
VALUES (1, 'John Smith', 'john.smith@example.com', '555-1234');

This statement will insert a new row into the "customers" table with the specified values.

**UPDATE:** The UPDATE statement is used to modify existing data in a table. For example, to update the email address of the customer with ID 1 in the "customers" table, the following SQL statement could be used:

In [ ]:
UPDATE customers SET email = 'john.smith.updated@example.com'
WHERE customer_id = 1;

This statement will update the email address of the customer with ID 1 to the specified value.

**DELETE:** The DELETE statement is used to remove data from a table. For example, to delete the customer with ID 1 from the "customers" table, the following SQL statement could be used:

In [ ]:
DELETE FROM customers WHERE customer_id = 1;

This statement will remove the row with ID 1 from the "customers" table.

Overall, DML statements are used to manipulate the data stored in a database, allowing developers and administrators to insert, update, and delete data as needed.

**Q4. What is DQL? Explain SELECT with an example.**

DQL stands for Data Query Language. It is a set of SQL statements that are used to retrieve data from a database. The most commonly used DQL statement is the SELECT statement.

Here is an example of how the SELECT statement is used:

Suppose we have a table named "customers" with the following columns: customer_id, name, email, and phone. We want to retrieve the names and email addresses of all customers from the table. To do this, we would use the following SQL statement:

In [ ]:
SELECT name, email FROM customers;

This statement will retrieve the values of the "name" and "email" columns from all rows in the "customers" table and return the results as a table.

**Q5. Explain Primary Key and Foreign Key.**

A primary key is a field or combination of fields in a database table that uniquely identifies each record in the table. It is a column or set of columns in a table that serves as a unique identifier for the table's records. The primary key is used to enforce data integrity and ensure that each record in the table is unique. Primary keys are used as the basis for relationships between tables.

A foreign key is a field in a database table that refers to the primary key of another table. It is a column or set of columns in a table that references the primary key of another table. The foreign key establishes a relationship between two tables and ensures that the data in the foreign key column matches the data in the primary key column of the other table. This relationship between tables is used to retrieve and manipulate data from multiple tables simultaneously, allowing for more complex queries and more efficient data management.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

The **cursor()** method creates a cursor object that can be used to execute SQL queries against the database. The cursor is used to navigate the result set and retrieve data.

The **execute()** method of the cursor object is used to execute an SQL query against the database. It takes an SQL query as a parameter and executes it against the database. This method returns a result set, which can be accessed using the cursor's methods such as **fetchall()**, **fetchone()**, etc.

**Q7. Give the order of execution of SQL clauses in an SQL query.**

The order of execution of SQL clauses in an SQL query is as follows:

**FROM:** The FROM clause specifies the table or tables from which data is to be retrieved.

**JOIN:** The JOIN clause is used to combine rows from two or more tables based on a related column between them.

**WHERE:** The WHERE clause filters the rows retrieved by specifying a condition that must be met.

**GROUP BY:** The GROUP BY clause groups the rows based on a specified column or columns.

**HAVING:** The HAVING clause is used to filter the groups created by the GROUP BY clause.

**SELECT:** The SELECT clause specifies the columns to be retrieved from the table or tables.

**DISTINCT:** The DISTINCT keyword is used to remove duplicates from the result set.

**ORDER BY:** The ORDER BY clause is used to sort the rows in the result set based on one or more columns.

**LIMIT:** The LIMIT clause is used to limit the number of rows retrieved from the result set.

It is important to note that not all of these clauses are required in every SQL query, and they can be used in different orders depending on the requirements of the query. However, this is the general order of execution when all of these clauses are used in a query.