## SET
* Set items are unordered, unchangeable, and do not allow duplicate values.
* The values True and 1 are considered the same value in sets, and are treated as duplicates.

In [14]:
setItems = {"Hello", "World", True, 2,3,4,1}
print(setItems)

{True, 2, 3, 'Hello', 4, 'World'}

In [3]:
list01 = [1,2,3,4,5]
tuple01 = (1,2,3,4,5)

In [7]:
set01 = {1,2,4,5,4,tuple01}
print(type(set01))
print(set01)

<class 'set'>
{1, 2, 4, 5, (1, 2, 3, 4, 5)}

##### We can't add list item as set element because it makes it's element as hashabe to make it items Unique and List is Unhashable

In [9]:
set01 = {1,2,4,5,4,list01}
print(type(set01))
print(type(set01))

TypeError: unhashable type: 'list'

#### The set() Constructor

In [17]:
fruits = ("Apple", "Mango", "Orange")
newFruits = set(fruits)
print(newFruits)

{'Mango', 'Apple', 'Orange'}

In [18]:
fruits = ["Apple", "Mango", "Orange"]
newFruits = set(fruits)
print(newFruits)

{'Mango', 'Apple', 'Orange'}

#### Access Items
* We cannot access items in a set by referring to an index or a key. But we can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [21]:
fruits = {"Apple", "Mango", "Orange"}
for furit in fruits:
    print(furit)

Mango
Apple
Orange

In [24]:
fruits = {"Apple", "Mango", "Orange"}
"Mango" in fruits

True

#### Add Items
* Once a set is created, we cannot change its items, but we can add new items. To add one item to a set we use the **add()** method.

In [25]:
fruits = {"Apple", "Mango", "Orange"}
fruits.add("Pineapple")
print(fruits)

{'Mango', 'Apple', 'Pineapple', 'Orange'}

#### Add Sets
* To add items from another set into the current set, we have to use the **update()** method.
* The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [32]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Lemon", "Pineapple"}

fruits_listA.update(fruits_listB)

print(fruits_listA)
print(fruits_listB)

{'Mango', 'Pineapple', 'Apple', 'Graph', 'Orange', 'Lemon'}
{'Pineapple', 'Lemon', 'Graph'}

In [33]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = ["Graph", "Lemon", "Pineapple"]

fruits_listA.update(fruits_listB)

print(fruits_listA)
print(fruits_listB)

{'Mango', 'Pineapple', 'Apple', 'Graph', 'Orange', 'Lemon'}
['Graph', 'Lemon', 'Pineapple']

## Remove Item
* To remove an item in a set, we have to use the **remove()**, or the **discard()** method.

If the item to remove does not exist, **remove()** will raise an error.

In [38]:
fruits = {"Apple", "Mango", "Orange"}
fruits.remove("Mango")
print(fruits)

{'Apple', 'Orange'}

If the item to remove does not exist, **discard()** will NOT raise an error.

In [42]:
fruits = {"Apple", "Mango", "Orange"}
fruits.discard("Banana")
print(fruits)

{'Mango', 'Apple', 'Orange'}

We can also use the **pop()** method to remove an item, but this method will remove a random item, so we cannot be sure what item that gets removed.

In [46]:
fruits = {"Apple", "Mango", "Orange"}
x=fruits.pop()
print(x)
print(fruits)

Mango
{'Apple', 'Orange'}

The **clear()** method empties the set.

In [47]:
fruits = {"Apple", "Mango", "Orange"}
fruits.clear()
print(fruits)

set()

The **del** keyword will delete the set completely.

In [51]:
del fruits
print(fruits)

NameError: name 'fruits' is not defined

#### Join Two Sets

In [61]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = ["Graph", "Lemon", "Pineapple"]

fruits_listA.update(fruits_listB)

print(fruits_listA)
print(fruits_listB)

{'Mango', 'Pineapple', 'Apple', 'Graph', 'Orange', 'Lemon'}
['Graph', 'Lemon', 'Pineapple']

In [53]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = ["Graph", "Lemon", "Pineapple"]

all_fruits = fruits_listA.union(fruits_listB)

print(fruits_listA)
print(fruits_listB)
print(all_fruits)

{'Mango', 'Apple', 'Orange'}
['Graph', 'Lemon', 'Pineapple']
{'Mango', 'Pineapple', 'Apple', 'Graph', 'Orange', 'Lemon'}

#### Keep ONLY the Duplicates
* The **intersection_update()** method will keep only the items that are present in both sets.

In [54]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = ["Graph", "Orange", "Pineapple"]

fruits_listA.intersection_update(fruits_listB)

print(fruits_listA)

{'Orange'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [58]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = ["Graph", "Orange", "Pineapple"]

fruits_listC = fruits_listA.intersection(fruits_listB)

print(fruits_listA)
print(fruits_listB)
print(fruits_listC)

{'Mango', 'Apple', 'Orange'}
['Graph', 'Orange', 'Pineapple']
{'Orange'}

#### Keep All, But NOT the Duplicates
* The **symmetric_difference_update()** method will keep only the elements that are NOT present in both sets.

In [59]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = ["Graph", "Orange", "Pineapple"]

fruits_listA.symmetric_difference_update(fruits_listB)

print(fruits_listA)

{'Mango', 'Pineapple', 'Apple', 'Graph'}

The **symmetric_difference()** method will return a new set, that contains only the elements that are NOT present in both sets.

In [60]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = ["Graph", "Orange", "Pineapple"]

fruits_listC = fruits_listA.symmetric_difference(fruits_listB)

print(fruits_listA)
print(fruits_listB)
print(fruits_listC)

{'Mango', 'Apple', 'Orange'}
['Graph', 'Orange', 'Pineapple']
{'Pineapple', 'Mango', 'Apple', 'Graph'}

## Set Methods

**add()** : Adds an element to the set

In [65]:
fruits = {"Apple", "Mango", "Orange"}
fruits.add("Orange")
print(fruits)

{'Mango', 'Apple', 'Orange'}

**clear()** : Removes all the elements from the set

In [67]:
fruits = {"Apple", "Mango", "Orange"}
fruits.clear()
print(fruits)

set()

**copy()** : Returns a copy of the set

In [68]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = fruits_listA.copy()
print(fruits_listA)
print(fruits_listB)
print(id(fruits_listA))
print(id(fruits_listB))

{'Mango', 'Apple', 'Orange'}
{'Mango', 'Apple', 'Orange'}
1863266965696
1863266965472

**difference()** : Returns a set containing the difference between two or more sets

In [71]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}

fruits_listC = fruits_listA.difference(fruits_listB)
print(fruits_listC)

{'Apple', 'Orange'}

**difference_update()** : Removes the items in this set that are also included in another, specified set

In [70]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}

fruits_listA.difference_update(fruits_listB)
print(fruits_listA)

{'Apple', 'Orange'}

**discard()** : Remove the specified item

In [72]:
fruits_listA = {"Apple", "Mango", "Orange"}

fruits_listA.discard("Banana")
print(fruits_listA)

{'Mango', 'Apple', 'Orange'}

**intersection()** : Returns a set, that is the intersection of two other sets

In [76]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}

fruits_listC = fruits_listA.intersection(fruits_listB)
print(fruits_listC)

{'Mango'}

In [77]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}
fruits_listC = {"Graph", "Banana", "Mango"}

fruits_listD = fruits_listA.intersection(fruits_listB, fruits_listC)
print(fruits_listD)

{'Mango'}

**intersection_update()** : Removes the items in this set that are not present in other, specified set(s)

In [74]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}

fruits_listA.intersection_update(fruits_listB)
print(fruits_listA)

{'Mango'}

**isdisjoint()** : Returns whether two sets have a intersection or not

In [80]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Banana"}

fruits_listA.isdisjoint(fruits_listB)

True

**issubset()** : Returns whether another set contains this set or not

In [89]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Apple", "Mango"}

fruits_listB.issubset(fruits_listA)

True

**issuperset()** : Returns whether this set contains another set or not

In [91]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Apple", "Mango"}

fruits_listA.issuperset(fruits_listB)

True

**pop()** : Removes an element from the set

In [81]:
fruits_listA = {"Apple", "Mango", "Orange"}
x = fruits_listA.pop()

print(x)
print(fruits_listA)

Mango
{'Apple', 'Orange'}

**remove()** : Removes the specified element

In [82]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listA.remove("Apple")

print(fruits_listA)

{'Mango', 'Orange'}

**symmetric_difference()** : Returns a set with the symmetric differences of two sets

In [84]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}

fruits_listC = fruits_listA.symmetric_difference(fruits_listB)
print(fruits_listC)

{'Pineapple', 'Apple', 'Graph', 'Orange'}

**symmetric_difference_update()** : inserts the symmetric differences from this set and another

In [85]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}

fruits_listA.symmetric_difference_update(fruits_listB)
print(fruits_listA)

{'Pineapple', 'Apple', 'Graph', 'Orange'}

**union()** : Return a set containing the union of sets

In [86]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}

fruits_listC = fruits_listA.union(fruits_listB)
print(fruits_listC)

{'Mango', 'Pineapple', 'Apple', 'Graph', 'Orange'}

In [93]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}
fruits_listC = {"Apple", "Jackfruit", "Mango"}

fruits_listD = fruits_listA.union(fruits_listB, fruits_listC)
print(fruits_listD)

{'Mango', 'Pineapple', 'Apple', 'Graph', 'Orange', 'Jackfruit'}

**update()** : Update the set with the union of this set and others

In [87]:
fruits_listA = {"Apple", "Mango", "Orange"}
fruits_listB = {"Graph", "Pineapple", "Mango"}

fruits_listA.update(fruits_listB)
print(fruits_listA)

{'Mango', 'Pineapple', 'Apple', 'Graph', 'Orange'}