## **Tuple**
* Tuple items are ordered, unchangeable, and allow duplicate values.

In [114]:
fruits=("Apple","Banana","Mango","Apple")
type(fruits)

tuple

In [105]:
print(fruits[-1])

Mango

In [106]:
print(fruits[::-1])

('Mango', 'Banana', 'Apple')

In [111]:
print(fruits[:2])

('Apple', 'Banana')

In [115]:
print(fruits.count("Apple"))

2

In [132]:
list01 = (85,20,200,399,100,50)
print("Max Value:",max(list01))
print("Min Value:",min(list01))

Max Value: 399
Min Value: 20

#### Create Tuple With One Item
* To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [2]:
fruits =("Mango")
type(fruits)

str

In [4]:
fruits =("Mango",)
print(type(fruits))

<class 'tuple'>

#### The tuple() Constructor

In [6]:
fruits =tuple(("Apple", "Mango", "Banana"))
print(type(fruits))

<class 'tuple'>

In [7]:
fruits =tuple(["Apple", "Mango", "Banana"])
print(type(fruits))

<class 'tuple'>

In [2]:
fruits =tuple({"Apple", "Mango", "Banana"})
print(type(fruits))

<class 'tuple'>

#### Access Tuple Items

In [3]:
fruits[0]

'Mango'

In [4]:
fruits[-1]

'Banana'

#### Range of Indexes

In [9]:
fruits[:2]

('Mango', 'Apple')

#### Check if Item Exists

In [11]:
"Mango" in fruits

True

#### Change Tuple Values
* Once a tuple is created, we cannot change its values. Tuples are unchangeable, or immutable as it also is called. But there is a workaround. We can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [15]:
fruits = list(fruits)
fruits[2] = "Pineapple"
fruits = tuple(fruits)
fruits

('Mango', 'Apple', 'Pineapple')

#### Add Items
* Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

**1. Convert into a list:** Just like the workaround for changing a tuple, we can convert it into a list, add your item(s), and convert it back into a tuple.

In [17]:
fruits = list(fruits)
fruits.append("Lemon")
fruits = tuple(fruits)
fruits

('Mango', 'Apple', 'Pineapple', 'Lemon')

**2. Add tuple to a tuple.** You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [20]:
fruits=("Mango", "Orange", "Banana")
newFruits=("Apple",)
fruits += newFruits
fruits

('Mango', 'Orange', 'Banana', 'Apple')

#### Remove Items
* Tuples are unchangeable, so we cannot remove items from it, but we can use the same workaround as we used for changing and adding tuple items.

In [22]:
fruits=("Mango", "Orange", "Banana")
fruits=list(fruits)
fruits.remove("Orange")
fruits=tuple(fruits)
fruits

('Mango', 'Banana')

#### Delete Tuple

In [23]:
print(fruits)
del fruits
print(fruits)

('Mango', 'Banana')

NameError: name 'fruits' is not defined

#### Unpacking a Tuple

In [24]:
fruits = ("Apple", "Banana", "Mango")
fruit1,fruit2,fruit3 = fruits
print(fruit1)
print(fruit2)
print(fruit3)

Apple
Banana
Mango

#### Using Asterisk*
* If the number of variables is less than the number of values, we can add an * to the variable name and the values will be assigned to the variable as a list

In [28]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
fruit1,fruit2,*others = fruits
print(fruit1)
print(fruit2)
print(others)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [2]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
fruit1,*fruit2,others = fruits
print(fruit1)
print(fruit2)
print(others)

apple
['banana', 'cherry', 'strawberry']
raspberry

## For Loop

In [33]:
for fruit in fruits:
    print(fruit.title())

Apple
Banana
Cherry
Strawberry
Raspberry

In [31]:
for i in range(len(fruits)):
    print(fruits[i].title())

Apple
Banana
Cherry
Strawberry
Raspberry

## While Loop

In [4]:
i=0
while(i<len(fruits)):
    print(fruits[i])
    i+=1

apple
banana
cherry
strawberry
raspberry

## Join Two Tuples
* To join two or more tuples we can use the + operator

In [5]:
fruit_list1 = ("Apple","Banana","Mango")
fruit_list2 = ("Orange","Pineapple")
all_fruits = fruit_list1 + fruit_list2
all_fruits

('Apple', 'Banana', 'Mango', 'Orange', 'Pineapple')

## Multiply Tuples
* If we want to multiply the content of a tuple a given number of times, you can use the * operator

In [8]:
newList=fruit_list2*3
newList

('Orange', 'Pineapple', 'Orange', 'Pineapple', 'Orange', 'Pineapple')

## Nested Tuple

In [138]:
tuple01 = ("Apple", "Mango", "Jackfruit")
list01 = ["Lemon", "Orange"]
set01 = {"Pineapple", "Banana"}
dict01 = {"frt01":"Guava", "frt02":"Liche"}

myTuple1 = (tuple01,list01,set01,dict01)
myTuple2 = tuple((tuple01,list01,set01,dict01))

print(myTuple1)
print(myTuple2)

(('Apple', 'Mango', 'Jackfruit'), ['Lemon', 'Orange'], {'Pineapple', 'Banana'}, {'frt01': 'Guava', 'frt02': 'Liche'})
(('Apple', 'Mango', 'Jackfruit'), ['Lemon', 'Orange'], {'Pineapple', 'Banana'}, {'frt01': 'Guava', 'frt02': 'Liche'})

## Tuple Methods

#### count
* Returns the number of times a specified value occurs in a tuple

In [9]:
newList.count("Orange")

3

#### index
* Searches the tuple for a specified value and returns the position of where it was found

In [11]:
newList.index("Pineapple")

1