## Handling Imbalanced Dataset
1. Up Sampling
2. Down Sampling

In [4]:
import pandas as pd
import numpy as np

np.random.seed(12)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0,n_class_1

(900, 100)

In [6]:
# Create Imblance Dataset

class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2':np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1]*n_class_1
})

In [7]:
class_1

    feature_1  feature_2  target
0    3.957996   0.815278       1
1   -0.087900   3.799535       1
2    1.277349   2.175456       1
3    0.701206   2.361398       1
4    1.297397   3.440687       1
..        ...        ...     ...
95   1.457741   1.096494       1
96   0.419954   1.676270       1
97   2.929778  -0.539636       1
98   3.094100   2.645792       1
99   3.368448   1.322671       1

[100 rows x 3 columns]

In [8]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [9]:
df.head()

   feature_1  feature_2  target
0   0.472986   0.283943       0
1  -0.681426   0.866102       0
2   0.242439   0.968661       0
3  -1.700736   0.395251       0
4   0.753143   1.036359       0

In [10]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [11]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [12]:
df_minority.shape

(100, 3)

In [23]:
from sklearn.utils import resample

# Upsampling
df_minrority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority), random_state=42)

In [16]:
df_minrority_upsampled.shape

(900, 3)

In [17]:
df_minrority_upsampled.head()

     feature_1  feature_2  target
951   2.053792   3.045723       1
992   2.526108   1.609179       1
914   2.930730   2.180955       1
971   1.943482   2.353833       1
960   2.748410   2.286741       1

In [21]:
df_balance_up = pd.concat([class_0, df_minrority_upsampled]).reset_index(drop=True)

In [22]:
df_balance_up['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [24]:
## Down Sampling
df_majority_downsample = resample(df_majority, replace=False, n_samples=len(df_minority), random_state=42)

In [25]:
df_majority_downsample.shape

(100, 3)

In [26]:
df_balance_down = pd.concat([class_1, df_majority_downsample]).reset_index(drop=True)

In [27]:
df_balance_down.shape

(200, 3)

In [28]:
df_balance_down['target'].value_counts()

1    100
0    100
Name: target, dtype: int64